options {
  listen-on port 53 { {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}; };
  directory       "/var/cache/bind";
  allow-query     { any; };

  dnssec-validation no;
};

zone "consul" IN {
  type forward;
  forward only;
  forwarders { 127.0.0.1 port 8600; };
};