datacenter = "{{ nomad_datacenter }}"
data_dir  = "{{ nomad_data_dir }}"

bind_addr = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] if hostvars[inventory_hostname]['ansible_tailscale0'] is not defined else hostvars[inventory_hostname]['ansible_tailscale0']['ipv4']['address'] }}"

consul {
  address = "127.0.0.1:8500"

  server_service_name = "nomad"
  client_service_name = "nomad-client"

  auto_advertise = true
  checks_use_advertise = true

  server_auto_join = true
  client_auto_join = true

  # tags = ["traefik.exposed=true", "traefik.http.routers.nomad.entryPoints=https", "traefik.http.routers.nomad.tls=true", "traefik.http.routers.nomad.service=nomad-client"]
}

{% if nomad_role == 'server' %}
server {
  enabled = true
  bootstrap_expect = 3
}
{% endif %}

client {
  enabled = true
  # options = {
  #   "drivers.raw_exec.enable" = "1"
  # }
  # network_interface = "lo"
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled      = true
    }
  }
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true

  datadog_address = "{{ datadog_uri }}"
}
